data/* filter=lfs diff=lfs merge=lfs -text
*.png !text !filter !merge !diff
*.unity !text !filter !merge !diff
*.hdr !text !filter !merge !diff
*.clip !text !filter !merge !diff
ArtifactDB !text !filter !merge !diff
. !text !filter !merge !diff
